.header {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  min-height: 52px;
}


@media all and (max-width: 1023px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media all and (max-width: 767px) {
  .header {
    max-width: calc(100% - 32px);
    min-height: 42px;
  }
}



