
.cover {
  max-width: calc(100% - 96px);
  height: calc(0.625 * 92.5vw);
  background: url('../../images/cover-trains.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.cover::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #2a2c2f;

  opacity: .3;
  transition: opacity .5s linear;

  position: absolute;
  z-index: 1;
  
}

.cover:hover::before {
  opacity: 0.8;
}


@media all and (max-width: 1279px) {
  .cover {
    max-width: 100%;
  }
}

