.place {
  display: grid;
  grid-template-columns: 4.6fr 4.84fr;
  grid-template-rows: auto minmax(min-content, max-content);
  
  gap: 48px 40px;
  grid-auto-flow: column;

  justify-content: center;
    
}

.place:not(:last-child) {
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 4.4fr 4.56fr;
    gap: 48px 32px;
  }
}

@media all and (max-width: 1023px) {
  .place {
    grid-template-columns: 3.4fr 3.52fr;
    gap: 48px 28px;
  }

  
  .place:not(:last-child) {
    margin-bottom: 73px;
  }

}

@media all and (max-width: 767px) {
  .place {
    grid-template-columns: 320px;
    grid-template-rows: auto;
    gap: 32px;
    grid-auto-flow: row;
  }

  .place:not(:last-child) {
    margin-bottom: 50px;
  }
}




